<!-- footer -->
<footer class="footer position-absolute">
  <div class="row g-0 justify-content-between align-items-center h-100">
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 mt-2 mt-sm-0 text-body"><br class="d-sm-none" />2024 &copy;<a class="mx-1" href="https://lakmns.org.my/ms/">myLAKMNS</a></p>
    </div>
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 text-body-tertiary text-opacity-85">V1.0.0</p>
    </div>
  </div>
</footer>

<!-- modal for terms, privacy policy -->
<div class="modal fade" id="privacyModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-md modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Privacy Policy</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body scrollbar">
        <p><strong>Effective Date:</strong> June 2024</p>
        <p>Welcome to myLAKMNS ("we," "us," or "our"). We are committed to protecting your privacy and ensuring that your personal information is handled in a safe and responsible manner. This Privacy Policy outlines how we collect, use, disclose, and protect your information.</p>

        <h3>1. Information We Collect</h3>
        <p>We may collect the following types of information:</p>
        <ul>
          <li><strong>Personal Information:</strong> Name, email address, phone number, postal address, and other contact details.</li>
          <li><strong>Account Information:</strong> Username, password, and other details associated with your account.</li>
          <li><strong>Usage Data:</strong> Information about how you use our website, products, and services, including your IP address, browser type, and operating system.</li>
          <li><strong>Cookies and Tracking Technologies:</strong> Information collected through cookies, web beacons, and other tracking technologies.</li>
        </ul>

        <h3>2. How We Use Your Information</h3>
        <p>We use your information for various purposes, including:</p>
        <ul>
          <li>Providing and maintaining our services</li>
          <li>Processing transactions and sending related information</li>
          <li>Personalizing your experience on our website</li>
          <li>Communicating with you, including sending promotional emails</li>
          <li>Analyzing and improving our services</li>
          <li>Protecting against fraudulent or unauthorized activities</li>
        </ul>

        <h3>3. How We Share Your Information</h3>
        <p>We may share your information with third parties in the following circumstances:</p>
        <ul>
          <li><strong>Service Providers:</strong> We may share your information with third-party service providers who perform services on our behalf, such as payment processing, data analysis, and email delivery.</li>
          <li><strong>Legal Requirements:</strong> We may disclose your information if required to do so by law or in response to valid requests by public authorities.</li>
          <li><strong>Business Transfers:</strong> We may share or transfer your information in connection with any merger, sale of company assets, financing, or acquisition of all or a portion of our business.</li>
        </ul>

        <h3>4. Your Choices</h3>
        <p>You have the following choices regarding your information:</p>
        <ul>
          <li><strong>Access and Update:</strong> You can access and update your personal information by logging into your account.</li>
          <li><strong>Opt-Out:</strong> You can opt out of receiving promotional emails from us by following the unsubscribe instructions provided in those emails.</li>
          <li><strong>Cookies:</strong> You can set your browser to refuse all or some browser cookies or to alert you when cookies are being sent. If you disable or refuse cookies, some parts of our website may become inaccessible or not function properly.</li>
        </ul>

        <h3>5. Security</h3>
        <p>We implement reasonable security measures to protect your information from unauthorized access, use, or disclosure. However, no method of transmission over the Internet or method of electronic storage is 100% secure, and we cannot guarantee absolute security.</p>

        <h3>6. Children's Privacy</h3>
        <p>Our services are not intended for children under the age of 13. We do not knowingly collect personal information from children under 13. If we become aware that we have collected personal information from a child under 13, we will take steps to delete such information.</p>

        <h3>7. Changes to This Privacy Policy</h3>
        <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on our website and updating the effective date at the top of this page. You are advised to review this Privacy Policy periodically for any changes.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="termsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-md modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Terms and Conditions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body scrollbar">
        <p><strong>Effective Date:</strong> June 2024</p>
        <p>Welcome to myLAKMNS. By accessing or using our services, you agree to be bound by these terms and conditions ("Terms"). Please read them carefully.</p>

        <h3>1. Acceptance of Terms</h3>
        <p>By using our services, you agree to comply with and be legally bound by these Terms. If you do not agree to these Terms, you may not use our services.</p>

        <h3>2. Changes to Terms</h3>
        <p>We may modify these Terms at any time. We will notify you of any changes by posting the new Terms on our website. You are advised to review these Terms periodically for any changes.</p>

        <h3>3. Use of Services</h3>
        <p>You agree to use our services only for lawful purposes and in a way that does not infringe the rights of others or restrict their use of our services.</p>

        <h3>4. Account Registration</h3>
        <p>To use certain features of our services, you may need to register for an account. You agree to provide accurate and complete information during the registration process and to update such information as necessary.</p>

        <h3>5. Termination</h3>
        <p>We may terminate or suspend your access to our services at any time, without prior notice or liability, for any reason, including if you breach these Terms.</p>

        <h3>6. Limitation of Liability</h3>
        <p>To the fullest extent permitted by law, myLAKMNS shall not be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses, resulting from your use of our services.</p>

        <h3>7. Governing Law</h3>
        <p>These Terms shall be governed by and construed in accordance with the laws of [Insert Jurisdiction].</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cookiesModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-md modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cookies</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body scrollbar">
        <p><strong>Effective Date:</strong> June 2024</p>
        <p>This Cookies Policy explains how myLAKMNS uses cookies and similar technologies to recognize you when you visit our website. It explains what these technologies are and why we use them, as well as your rights to control our use of them.</p>

        <h3>1. What are Cookies?</h3>
        <p>Cookies are small data files that are placed on your computer or mobile device when you visit a website. Cookies are widely used by website owners to make their websites work, or to work more efficiently, as well as to provide reporting information.</p>

        <h3>2. Why We Use Cookies</h3>
        <p>We use cookies for several reasons. Some cookies are required for technical reasons in order for our website to operate, and we refer to these as "essential" or "strictly necessary" cookies. Other cookies enable us to track and target the interests of our users to enhance the experience on our website. Third parties serve cookies through our website for advertising, analytics, and other purposes.</p>

        <h3>3. Your Choices</h3>
        <p>You have the right to decide whether to accept or reject cookies. You can set your browser to refuse all or some browser cookies or to alert you when cookies are being sent. If you disable or refuse cookies, please note that some parts of our website may become inaccessible or not function properly.</p>
      </div>
    </div>
  </div>
</div>

</div>

</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="/vendors/popper/popper.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/vendors/anchorjs/anchor.min.js"></script>
<script src="/vendors/is/is.min.js"></script>
<script src="/vendors/fontawesome/all.min.js"></script>
<script src="/vendors/lodash/lodash.min.js"></script>
<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script> -->
<script src="/vendors/list.js/list.min.js"></script>
<script src="/vendors/feather-icons/feather.min.js"></script>
<script src="/vendors/dayjs/dayjs.min.js"></script>
<script src="/assets/js/phoenix.js"></script>
<script src="/vendors/leaflet/leaflet.js"></script>
<script src="/vendors/leaflet.markercluster/leaflet.markercluster.js"></script>
<script src="/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js"></script>
<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- file uploader -->
<script src="/vendors/dropzone/dropzone.js"></script>
<!-- swiper
<script src="/assets/vendors/swiper/swiper-bundle.min.js"></script> -->
<!-- calendar -->
<script src="vendors/fullcalendar/main.min.js"></script>
<!-- flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.11/dist/flatpickr.min.js"></script>
<!-- slick slider -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- zxing scanner -->
<script type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script>

<!-- javascript -->
<script>
  // button loading function
  $(document).ready(function() {
    $('.loading-upload-button').on('click', function() {
      $('.loading-upload-button').addClass('loading-upload');
      $('.content-upload-button').addClass('noshow');

      setTimeout(function() {
        $('.loading-upload-button').removeClass('loading-upload');
        $('.content-upload-button').removeClass('noshow');
      }, 2500);
    });
  });

  $(document).ready(function() {
    $('.loading-button').on('click', function() {
      $('.loading-button').addClass('loading');
      $('.content-button').addClass('noshow');

      setTimeout(function() {
        $('.loading-button').removeClass('loading');
        $('.content-button').removeClass('noshow');
      }, 2500);
    });
  });

  // upload files
  $(document).ready(function() {
    // Function to show the toast
    function showDropzoneFilesToast(content) {
      $('#dropzoneAlertContent').text(content);

      var toast = new bootstrap.Toast(
        document.getElementById('alertUploadToast')
      );
      toast.show();
    }

    var myDropzone = Dropzone.forElement('#dropzone');
    var button = $('#uploadFiles');

    $('#uploadFiles').on('click', function() {
      setTimeout(function() {
        // files upload process queue

        if (myDropzone.getQueuedFiles().length > 0) {
          // If files are present, show the toast with appropriate content
          showDropzoneFilesToast('Files has been uploaded');
          // Process the Dropzone queue
          myDropzone.processQueue();

          //   $('#addFiles').modal('hide');
        } else {
          // If no files are present, show the toast with different content
          showDropzoneFilesToast('No files selected');
        }

        button.prop('type', 'submit');
      }, 2000);
    });
  });
</script>

<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({}, 'google_translate_element');
  }

  function changeLanguage(language) {
    var languageCode = document.getElementById(`language-${language}`).value;
    var selectField = document.querySelector("#google_translate_element select");

    if (selectField) {
      for (var i = 0; i < selectField.children.length; i++) {
        var option = selectField.children[i];
        if (option.value === languageCode) {
          selectField.selectedIndex = i;
          selectField.dispatchEvent(new Event('change', {
            bubbles: true
          }));
          break;
        }
      }
    } else {
      console.error('Select field not found');
    }

    // Toggle button visibility
    var btnMs = document.getElementById('btn-ms');
    var btnEn = document.getElementById('btn-en');
    var btnMsMobile = document.getElementById('btn-ms-mobile');
    var btnEnMobile = document.getElementById('btn-en-mobile');

    if (language === 'ms') {
      btnMs.classList.add('d-none');
      btnEn.classList.remove('d-none');

      btnMsMobile.classList.add('d-none');
      btnEnMobile.classList.remove('d-none');
    } else {
      btnEn.classList.add('d-none');
      btnMs.classList.remove('d-none');

      btnEnMobile.classList.add('d-none');
      btnMsMobile.classList.remove('d-none');
    }
  }
</script>

<!-- loading function -->

<script type="module">
  import * as THREE from 'three';

  let $wrap = document.getElementById('canvas');

  // Initialize variables
  let areaWidth = window.innerWidth,
    areaHeight = window.innerHeight,
    length = 30,
    radius = 5.6,
    rotatevalue = 0.035, // Normal rotation speed
    acceleratedValue = 0.15, // Faster rotation speed
    decelerationDuration = 2000, // Time for acceleration/deceleration (in ms)
    acceleration = 0,
    animatestep = 0,
    toend = false,
    pi2 = Math.PI * 2,
    group = new THREE.Group(),
    mesh,
    camera,
    scene,
    renderer,
    isAccelerating = true;

  // Custom curve class
  class CustomCurve extends THREE.Curve {
    getPoint(percent) {
      let x = length * Math.sin(pi2 * percent);
      let y = radius * Math.cos(pi2 * 3 * percent);
      let z, t;

      t = (percent % 0.25) / 0.25;
      t = (percent % 0.25) - (2 * (1 - t) * t * -0.0185 + t * t * 0.25);
      if (
        Math.floor(percent / 0.25) == 0 ||
        Math.floor(percent / 0.25) == 2
      ) {
        t *= -1;
      }
      z = radius * Math.sin(pi2 * 2 * (percent - t));

      return new THREE.Vector3(x, y, z);
    }
  }

  // Create camera, scene, and renderer
  function initializeScene() {
    camera = new THREE.PerspectiveCamera(65, areaWidth / areaHeight, 1, 10000);
    camera.position.z = 275;

    scene = new THREE.Scene();
    scene.add(group);

    // Create custom tube geometry
    mesh = new THREE.Mesh(
      new THREE.TubeGeometry(new CustomCurve(), 200, 1.1, 2, true),
      new THREE.MeshBasicMaterial({
        color: new THREE.Color(getColor('bg-primary', 'background-color')),
      })
    );
    group.add(mesh);

    // Create fake shadow
    (function() {
      let plain, i;
      for (i = 0; i < 10; i++) {
        plain = new THREE.Mesh(
          new THREE.PlaneGeometry(length * 2 + 1, radius * 3, 1),
          new THREE.MeshBasicMaterial({
            color: new THREE.Color(getColor('bg-body', 'background-color')),
            transparent: true,
            opacity: 0.05,
            depthWrite: false
          })
        );
        plain.position.z = -2.5 + i * 0.5;
        group.add(plain);
      }
    })();

    // Setup renderer
    renderer = new THREE.WebGLRenderer({
      alpha: true // Enable transparency
    });
    renderer.setPixelRatio(window.devicePixelRatio);
    renderer.setSize(areaWidth, areaHeight);
    renderer.setClearColor(0xffffff, 0);

    $wrap.appendChild(renderer.domElement);
  }

  // Reset animation state
  function resetAnimation() {
    animatestep = 0; // Reset animation step
    isAccelerating = true; // Start with acceleration
    group.rotation.set(0, 0, 0); // Reset group rotation if necessary
    group.position.set(0, 0, 0); // Reset group position if necessary
  }

  // Resize event listener
  window.addEventListener('resize', () => {
    areaWidth = window.innerWidth;
    areaHeight = window.innerHeight;
    renderer.setSize(areaWidth, areaHeight);
    camera.aspect = areaWidth / areaHeight;
    camera.updateProjectionMatrix();
  });

  // Manage acceleration effect
  let accelerationTime = 0;

  function controlSpeed() {
    if (isAccelerating) {
      // Accelerate for 2 seconds
      accelerationTime += 16; // Approximate frame duration
      if (accelerationTime >= decelerationDuration) {
        isAccelerating = false;
      }
      return acceleratedValue;
    } else {
      // Decelerate back to normal speed
      accelerationTime -= 16;
      if (accelerationTime <= 0) {
        accelerationTime = 0;
      }
      return (
        rotatevalue +
        ((acceleratedValue - rotatevalue) * accelerationTime) /
        decelerationDuration
      );
    }
  }

  // Animation functions
  function render() {
    let progress;
    animatestep = Math.max(
      0,
      Math.min(240, toend ? animatestep + 1 : animatestep - 4)
    );
    acceleration = easing(animatestep, 0, 1, 240);

    renderer.render(scene, camera);
  }

  function animate() {
    let speed = controlSpeed();
    mesh.rotation.x += speed;
    render();
    requestAnimationFrame(animate);
  }

  function easing(t, b, c, d) {
    if ((t /= d / 2) < 1) return (c / 2) * t * t + b;
    return (c / 2) * ((t -= 2) * t * t + 2) + b;
  }

  // Start the animation loop
  initializeScene(); // Initialize the scene
  animate(); // Start the animation loop

  // Event listener for page navigation
  document.addEventListener('DOMContentLoaded', function() {
    // Reset animation on page load
    resetAnimation();
    // Rest of your event listener code...
  });
</script>

<script>
  function showLoader() {
    const wrap = document.getElementById('wrap');
    wrap.classList.remove('d-none'); // Show the loader
    wrap.classList.add('d-flex'); // Set display to block

    // Hide navbar during loading
    // Show the navbar

    // navbar1.classList.remove('d-inline-flex');
    // navbar2.classList.remove('d-inline-flex');
    // navbar2.classList.remove('d-xl-inline-block');

    // Keep the loader visible for at least 3 seconds
    setTimeout(() => {
      // Loader will remain until the page is fully loaded
    }, 3000);
  }

  // Event listener for links
  document.addEventListener('DOMContentLoaded', function() {
    // Attach event listener to all <a> tags
    const links = document.querySelectorAll('a');
    links.forEach((link) => {
      link.addEventListener('click', function(event) {
        // Check if the link has the no-loader class
        if (!link.classList.contains('no-loader')) {
          showLoader(); // Show loader on link click
          // Delay navigation to allow the loader to display
          setTimeout(() => {
            window.location.href = link.href; // Navigate to the new page after 3 seconds
          }, 3000);
          event.preventDefault(); // Prevent the default link behavior
        }
      });
    });
  });

  // Event listener to hide loader when the new page is fully loaded
  window.addEventListener('load', function() {
    const wrap = document.getElementById('wrap');

    wrap.classList.add('d-none'); // Hide the loader when the new page is fully loaded
  });

  // Ensure the loader is hidden if navigating via the back button
  window.addEventListener('pageshow', function(event) {
    if (event.persisted) {
      const wrap = document.getElementById('wrap');
      //   const navbar1 = document.getElementById('navbarComboSlim');
      //   const navbar2 = document.getElementById('navbarComboSlim-2');

      wrap.classList.add('d-none'); // Hide the loader
      //   navbar2.style.display = 'inline-flex';
    }
  });
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>

</html>