<%- include('partials/private-header.ejs') %>

<% 
// Function to get today's date in the format "DD/MM/YY"
function getTodayDate() {
  const today = new Date();
  const day = String(today.getDate()).padStart(2, '0');
  const month = String(today.getMonth() + 1).padStart(2, '0'); // Month is zero-based
  const year = today.getFullYear().toString().substr(-2);
  return `${day}/${month}/${year}`;
}

const currentDate = getTodayDate();
%>

<div class="mb-6">

  <div class="mb-3 d-xxl-flex justify-content-between">
    <div class="mb-3">
      <h2 class="mb-2">Duty Handover</h2>
      <h5 class="text-body-tertiary fw-semibold">Tracking Participation, Absences, Presence.</h5>
    </div>

    <div class="align-items-center">
      <a class="btn btn-phoenix-secondary" href="/auxiliary-police/duty-handover/view"><span class="fa-solid fa-users-viewfinder me-2"></span>View Duty Handover</a>
    </div>
  </div>

  <div class="mb-3 row">

    <div class="col-12 col-xxl-9 row g-3">

      <form class="mb-3 row g-3" action="/auxiliary-police/duty-handover/submit" method="post" id="searchForm">

        <div id="results" class="mt-4"></div>

        <div class="col-12 col-md-6">
          <div class="form-floating">
            <select class="form-select" id="location" name="location" required>
              <option value="">Select Location</option>
              <option value="Baitul Makmur I">Baitul Makmur I</option>
              <option value="Baitul Makmur II">Baitul Makmur II</option>
              <option value="Jamek Mosque">Jamek Mosque</option>
              <option value="City Mosque">City Mosque</option>
              <option value="Raudhatul Sakinah">Raudhatul Sakinah</option>
            </select>
            <label for="location">Location</label>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="form-floating">
            <input type="text" class="form-control datetimepicker flatpickr-input" id="floatingInputStartDate" placeholder="" name="date" data-options='{"disableMobile":true,"allowInput":true, "locale" : { "firstDayOfWeek" : 1}}' required>
            <label for="date"><span class="fa-regular fa-calendar-xmark me-2"></span>Date</label>
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-floating">
            <select class="form-select" id="shift" name="shift" required>
              <option value="">Select Shift</option>
              <option value="Shift A">Shift A</option>
              <option value="Shift B">Shift B</option>
              <option value="Shift C">Shift C</option>
            </select>
            <label for="shift">Shift</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-floating">
            <select class="form-select" id="time" name="time" required>
              <option value="">Select Time</option>
              <option value="0700">0700</option>
              <option value="1500">1500</option>
              <option value="2300">2300</option>
            </select>
            <label for="time">Time</label>
          </div>
        </div>

        <div id="shiftResult">
        </div>

        <div class="col-12 gy-4 mt-3 mb-3">
          <label class="form-label" for="giveNotes">Summary</label>
          <textarea class="form-control scrollbar" id="giveNotes" placeholder="Leave a summary here" style="height: 100px" name="notes"></textarea>
        </div>

        <div id="hiddenInputs">
        </div>

        <div id="hiddenDutyHandover">
        </div>

        <div class="col-12 gy-6 d-none" id="submitButton">
          <div class="row g-3 justify-content-end">
            <div class="col-auto">
              <button class="btn btn-primary w-100 mb-3 loading-button" type="submit" name="submit">
                <div class="content-button">Submit Handover</div>
              </button>
            </div>
          </div>
        </div>

      </form>

      <script>
        document.querySelectorAll('#location, #floatingInputStartDate, #shift, #time').forEach(element => {
          element.addEventListener('change', function() {
            const location = document.getElementById('location').value;
            const date = document.getElementById('floatingInputStartDate').value;
            const shift = document.getElementById('shift').value;
            const time = document.getElementById('time').value;

            if (location && date && shift && time) {
              fetch(`/search-duty-handover?location=${location}&date=${date}&shift=${shift}&time=${time}`)
                .then(response => response.json())
                .then(data => {
                  const resultsDiv = document.getElementById('results');
                  const shiftResultDiv = document.getElementById('shiftResult');
                  const hiddenInputsDiv = document.getElementById('hiddenInputs');
                  const hiddenDutyHandoverDiv = document.getElementById('hiddenDutyHandover');
                  const submitButtonDiv = document.getElementById('submitButton');
                  resultsDiv.innerHTML = '';
                  shiftResultDiv.innerHTML = '<hr>';
                  hiddenInputsDiv.innerHTML = '';
                  hiddenDutyHandoverDiv.innerHTML = '';

                  if (data.dutyHandover && Object.keys(data.dutyHandover).length > 0) {
                    const card = document.createElement('div');
                    card.className = 'card mb-3';


                    const staffButtons = data.dutyHandover.staff.map(staffMember => `<button type="button" class="btn btn-outline-primary me-2 mb-2">${staffMember}</button>`).join('');

                    card.innerHTML = `
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between"> 
                                            <h3 class="card-title">${data.dutyHandover.shift}</h3>
                                            <p><span class="badge badge-phoenix badge-phoenix-success fs-10 align-items-center">${data.dutyHandover.status}</span></p>
                                        </div>
                                        <p class="card-text">Head Shift: <span class="fw-semibold fst-italic">${data.dutyHandover.headShift}</span></p>
                                        <p class="card-text">Date: <span class="fw-semibold fst-italic">${new Date(data.dutyHandover.date).toLocaleDateString()}</span></p>
                                        <p class="card-text">Shift: <span class="fw-semibold fst-italic">${data.dutyHandover.time}</span></p>
                                        <p class="card-text">Location: <span class="fw-semibold fst-italic">${data.dutyHandover.location}</span></p>
                                        <p class="card-text">Remarks: <span class="fw-semibold fst-italic">${data.dutyHandover.remarks}</span></p>
                                        <hr>
                                        <div>${staffButtons}</div>
                                    </div>
                                `;
                    resultsDiv.appendChild(card);

                    // Create a hidden input for the duty handover ID
                    const hiddenInputId = document.createElement('input');
                    hiddenInputId.type = 'hidden';
                    hiddenInputId.name = 'dutyHandoverId';
                    hiddenInputId.value = data.dutyHandover._id;
                    hiddenDutyHandoverDiv.appendChild(hiddenInputId);


                    if (data.dutyHandover.status === 'pending') {
                      submitButtonDiv.classList.remove('d-none');
                    } else {
                      submitButtonDiv.classList.add('d-none');
                    }

                  } else {
                    resultsDiv.innerHTML = '<p class= "text-center fs-9 fw-bold">No shift found/submitted before your current shift</p>';
                    submitButtonDiv.classList.add('d-none');
                  }

                  if (data.shiftSchedule && data.shiftSchedule.shift && data.shiftSchedule.shift.length > 0) {
                    const shiftStaff = data.shiftSchedule.shift.find(s => s.shiftName === shift).staff || [];
                    const shiftStaffButtons = shiftStaff.map(staffMember => `<button type="button" class="btn btn-primary me-2 mb-2">${staffMember}</button>`).join('');

                    shiftResultDiv.innerHTML += `
                                    <div>${shiftStaffButtons}</div>
                            `;

                    shiftStaff.forEach(staffMember => {
                      const hiddenInput = document.createElement('input');
                      hiddenInput.type = 'hidden';
                      hiddenInput.name = 'shiftStaff[]';
                      hiddenInput.value = staffMember;
                      hiddenInputsDiv.appendChild(hiddenInput);
                    });
                  } else {
                    shiftResultDiv.innerHTML += '<p>No shift schedule found</p>';
                  }

                })
                .catch(error => {
                  console.error('Error:', error);
                  document.getElementById('results').innerHTML = '<p class= "text-center fs-9 fw-bold">No shift found/submitted before your current shift</p>';
                });
            } else {
              document.getElementById('results').innerHTML = '';
              submitButtonDiv.classList.add('d-none');
            }
          });
        });
      </script>

    </div>

  </div>

</div>


<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div class="d-flex">
    <div class="toast <%= show %> align-items-center text-white border-0" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true">
      <div class="d-flex justify-content-between">
        <div class="toast-body px-0 py-3">
          <code class="text-primary"><%= alert %></code>
        </div>

        <button class="btn ms-2 p-0" type="button" data-bs-dismiss="toast" aria-label="Close">
          <span class="uil uil-times fs-7"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<%- include('partials/private-footer.ejs') %>