<%- include('partials/private-header.ejs') %>

<script>
  // take the root of the colour from css for echarts
  const style = getComputedStyle(document.body);
  const theme = {
    primary: style.getPropertyValue('--phoenix-primary'),
    secondary: style.getPropertyValue('--phoenix-secondary'),
    success: style.getPropertyValue('--phoenix-success'),
    info: style.getPropertyValue('--phoenix-info'),
    warning: style.getPropertyValue('--phoenix-warning'),
    danger: style.getPropertyValue('--phoenix-danger'),
    bg_primary_subtle: style.getPropertyValue('--phoenix-primary-bg-subtle'),
    tertiary: style.getPropertyPriority('--phoenix-tertiary-color'),
    light: style.getPropertyValue('--phoenix-light'),
    dark: style.getPropertyValue('--phoenix-dark'),
    secondary_subtle: style.getPropertyValue('--phoenix-secondary-border-subtle'),
    cyan: style.getPropertyValue('--phoenix-cyan'),
    gray_100: style.getPropertyValue('--phoenix-gray-100')

  };

  //   take css class color based on their property color/bg-colour for echarts
  function getColor(className, property) {
    var element = document.createElement('div');
    element.className = className;
    document.body.appendChild(element);

    var computedStyle = window.getComputedStyle(element);
    var color = computedStyle.getPropertyValue(property);

    document.body.removeChild(element);

    return color;
  }
</script>

<div class="mb-6">

  <div class="mb-6 d-flex justify-content-between">
    <div>
      <h2 class="mb-2">Schedule</h2>
      <h5 class="text-body-tertiary fw-semibold">Tracking Participation, Absences, Presence.</h5>
    </div>
    <div class="align-items-center">
      <a href="/auxiliary-police/schedule/view" class="btn btn-phoenix-secondary"><span class="fa-solid fa-users-viewfinder me-2"></span>View Schedule</a>
    </div>
  </div>

  <div class="mb-3 row g-5">

    <div class="col-12 col-xxl-4 order-xxl-1 d-none">
      <div class="card">
        <div class="card-body">
          <h4 class="mb-3">Month Calendar</h4>
          <div id="calendar-chart" style="width: 100%; height: 600px;"></div>
        </div>
      </div>

      <script>
        fetch('/calendar-data')
          .then(response => response.json())
          .then(data => {
            // Calculate min and max values from the data
            let values = data.map(item => item[1]);
            let minValue = Math.min(...values);
            let maxValue = Math.max(...values);

            var chart = echarts.init(document.getElementById('calendar-chart'), null, {
              devicePixelRatio: window.devicePixelRatio > 1 ? 2 : 1,
              renderer: 'canvas',
              width: 'auto',
              height: 'auto'
            });

            var option = {
              tooltip: {
                trigger: 'item',
                axisPointer: {
                  type: 'none'
                },
                padding: [7, 10],
                backgroundColor: getColor('bg-body', 'background-color'), // light grey background color
                borderColor: theme.secondary_subtle, // dark grey border color
                textStyle: {
                  color: getColor('link-primary', 'color') // black text color
                },
                borderWidth: 1,
                transitionDuration: 0,
                extraCssText: 'z-index: 1000'
              },
              visualMap: {
                min: minValue,
                max: maxValue,
                calculable: true,
                show: false,
                color: [
                  getColor('bg-warning', 'background-color'), // light green
                  getColor('bg-warning-light', 'background-color'), // light orange
                  getColor('bg-warning-lighter', 'background-color') // light blue
                ]
              },
              calendar: {
                orient: 'vertical',
                range: '2024-03', // Only March 2024
                width: '100%',
                height: '80%',
                left: 'center',
                top: 42,
                yearLabel: {
                  show: false
                },
                monthLabel: {
                  show: false
                },
                dayLabel: {
                  firstDay: 0,
                  nameMap: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
                  margin: 24,
                  color: getColor('link-primary', 'color'), // secondary-text-emphasis color
                  fontFamily: 'Nunito Sans',
                  fontWeight: 700
                },
                splitLine: {
                  show: false
                },
                itemStyle: {
                  color: getColor('bg-body', 'background-color'), // dark-text-emphasis color
                  borderColor: theme.secondary_subtle // border color
                }
              },
              series: {
                type: 'scatter',
                coordinateSystem: 'calendar',
                symbolSize(val) {
                  return val[1] / 35;
                },
                data: data,
                itemStyle: {
                  color: getColor('bg-warning', 'background-color'), // warning color
                  opacity: 0.8
                }
              }
            };
            chart.setOption(option);


            window.addEventListener('resize', function() {
              chart.resize();
            });
          })
          .catch(error => console.error('Error fetching data:', error));
      </script>

    </div>

    <div class="col-12 col-xxl-9 order-xxl-0">
      <form class="row g-3 mb-6" action="/auxiliary-police/schedule/add" method="post" id="scheduleForm">

        <div class="col-12 col-md-6">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectTask" name="location" required>
              <option value="Baitul Makmur I">Baitul Makmur I</option>
              <option value="Baitul Makmur II">Baitul Makmur II</option>
              <option value="Jamek Mosque">Jamek Mosque</option>
              <option value="City Mosque">City Mosque</option>
              <option value="Raudhatul Sakinah">Raudhatul Sakinah</option>
            </select>
            <label for="floatingSelectTask">Location</label>
          </div>
        </div>

        <div class="col-12 col-md-6 mb-3">
          <div class="form-floating">
            <input type="text" class="form-control datetimepicker flatpickr-input" id="floatingInputStartDate" placeholder="" name="date" data-options='{"disableMobile":true,"allowInput":true, "locale" : { "firstDayOfWeek" : 1}}' required>
            <label for="date"><span class="fa-regular fa-calendar-xmark me-2"></span>Date</label>
            <div class="invalid-feedback"></div>
          </div>
        </div>

        <!-- First Instance -->
        <div class="col-12 border rounded-3 p-3">

          <div class="row g-3">

            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <h4>Shift A</h4>
              </div>
              <div>
                <div class="form-floating">
                  <select class="form-select" id="time1" name="time1" required>
                    <option selected>Select shift time</option>
                    <option value="0700">0700</option>
                    <option value="1500">1500</option>
                    <option value="2300">2300</option>
                  </select>
                  <label for="time1">Time</label>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-8">
              <div id="selectedNames1" class="d-flex flex-wrap border border-300 rounded-3 px-2" style="min-height: 3rem"></div>
            </div>

            <div class="col-12 col-md-4">
              <div class="form-floating">
                <input type="text" name="query" id="queryInput1" class="form-control" />
                <label class="form-label" for="queryInput1">Search Staff</label>
                <div class="invalid-feedback">Please select relief staff</div>
              </div>
            </div>

            <div id="results1" class="col-12"></div>

            <input type="hidden" id="selectedNamesInput1" name="selectedNames1" />
          </div>
        </div>

        <!-- Second Instance -->
        <div class="col-12 border rounded-3 p-3">
          <div class="row g-3">

            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <h4>Shift B</h4>
              </div>
              <div>
                <div class="form-floating">
                  <select class="form-select" id="time2" name="time2" required>
                    <option selected>Select shift time</option>
                    <option value="0700">0700</option>
                    <option value="1500">1500</option>
                    <option value="2300">2300</option>
                  </select>
                  <label for="time2">Time</label>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-8 mb-0">
              <div id="selectedNames2" class="d-flex flex-wrap border border-300 rounded-3 px-2" style="min-height: 3rem"></div>
            </div>

            <div class="col-12 col-md-4">
              <div class="form-floating">
                <input type="text" name="query" id="queryInput2" class="form-control" />
                <label class="form-label" for="queryInput2">Search Staff</label>
                <div class="invalid-feedback">Please select staff</div>
              </div>
            </div>

            <div id="results2" class="col-12"></div>

            <input type="hidden" id="selectedNamesInput2" name="selectedNames2" />
          </div>
        </div>

        <!-- Third Instance -->
        <div class="col-12 border rounded-3 p-3">
          <div class=" row g-3">

            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <h4>Shift C</h4>
              </div>
              <div>
                <div class="form-floating">
                  <select class="form-select" id="time3" name="time3" required>
                    <option selected>Select shift time</option>
                    <option value="0700">0700</option>
                    <option value="1500">1500</option>
                    <option value="2300">2300</option>
                  </select>
                  <label for="time3">Time</label>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-8">
              <div id="selectedNames3" class="d-flex flex-wrap border border-300 rounded-3 px-2" style="min-height: 3rem"></div>
            </div>

            <div class="col-12 col-md-4">
              <div class="form-floating">
                <input type="text" name="query" id="queryInput3" class="form-control"" />
                <label class=" form-label" for="queryInput3">Search Staff</label>
                <div class="invalid-feedback">Please select staff</div>
              </div>
            </div>

            <div id="results3" class="col-12"></div>

            <input type="hidden" id="selectedNamesInput3" name="selectedNames3" />
          </div>
        </div>

        <!-- Fourth Instance -->
        <div class="col-12 border rounded-3 p-3">
          <div class=" row g-3">

            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <h4>Shift D</h4>
              </div>
              <div>
                <div class="form-floating">
                  <select class="form-select" id="time4" name="time4" required>
                    <option selected>Select shift time</option>
                    <option value="0800">0800</option>
                    <option value="1400">1400</option>
                  </select>
                  <label for="time3">Time</label>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-8">
              <div id="selectedNames4" class="d-flex flex-wrap border border-300 rounded-3 px-2" style="min-height: 3rem"></div>
            </div>

            <div class="col-12 col-md-4">
              <div class="form-floating">
                <input type="text" name="query" id="queryInput4" class="form-control"" />
                  <label class=" form-label" for="queryInput4">Search Staff</label>
                <div class="invalid-feedback">Please select staff</div>
              </div>
            </div>

            <div id="results4" class="col-12"></div>

            <input type="hidden" id="selectedNamesInput4" name="selectedNames4" />
          </div>
        </div>

        <!-- Fifth Instance -->
        <div class="col-12 border rounded-3 p-3">
          <div class=" row g-3">

            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <h4>Raised Flag Duty</h4>
              </div>
            </div>

            <div class="col-12 col-md-8">
              <div id="selectedNames5" class="d-flex flex-wrap border border-300 rounded-3 px-2" style="min-height: 3rem"></div>
            </div>

            <div class="col-12 col-md-4">
              <div class="form-floating">
                <input type="text" name="query" id="queryInput5" class="form-control"" />
                    <label class=" form-label" for="queryInput5">Search Staff</label>
                <div class="invalid-feedback">Please select staff</div>
              </div>
            </div>

            <div id="results5" class="col-12"></div>

            <input type="hidden" id="selectedNamesInput5" name="selectedNames5" />
          </div>
        </div>

        <!-- Six Instance -->
        <div class="col-12 border rounded-3 p-3">
          <div class=" row g-3">

            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <h4>Lowered Flag Duty</h4>
              </div>
            </div>

            <div class="col-12 col-md-8">
              <div id="selectedNames6" class="d-flex flex-wrap border border-300 rounded-3 px-2" style="min-height: 3rem"></div>
            </div>

            <div class="col-12 col-md-4">
              <div class="form-floating">
                <input type="text" name="query" id="queryInput6" class="form-control"" />
                    <label class=" form-label" for="queryInput6">Search Staff</label>
                <div class="invalid-feedback">Please select staff</div>
              </div>
            </div>

            <div id="results6" class="col-12"></div>

            <input type="hidden" id="selectedNamesInput6" name="selectedNames6" />
          </div>
        </div>

        <div class="col-12 gy-6">
          <div class="row g-3 justify-content-end">
            <div class="col-auto">
              <button class="btn btn-primary w-100 mb-3 loading-button" type="submit" name="submit">
                <div class="content-button">Submit Schedule</div>
              </button>
            </div>
          </div>
        </div>

      </form>

      <script>
        $(document).ready(function() {
          function initializeStaffSearch(queryInputId, selectedNamesDivId, resultsDivId, hiddenInputId) {
            const queryInput = $(queryInputId);
            const selectedNamesDiv = $(selectedNamesDivId);
            let selectedNames = [];

            queryInput.on('input', function() {
              const query = $(this).val();
              if (query.trim() !== '') {
                $.ajax({
                  url: `/search/staff/auxiliary-police?query=${query}`,
                  method: 'GET',
                  success: function(results) {
                    displayResults(results, resultsDivId, selectedNames, selectedNamesDiv, hiddenInputId);
                  },
                  error: function(error) {
                    console.error(error);
                  }
                });
              } else {
                displayResults([], resultsDivId, selectedNames, selectedNamesDiv, hiddenInputId);
              }
            });

            function displayResults(results, resultsDivId, selectedNames, selectedNamesDiv, hiddenInputId) {
              const resultsDiv = $(resultsDivId);
              resultsDiv.empty();

              if (results.length === 0) {
                resultsDiv.append('<p class="text-muted fs-9">No results found</p>');
              } else {
                results.forEach(result => {
                  const resultDiv = $('<div class="result btn btn-outline-primary mr-2 mb-2 notranslate"></div>').text(result.fullname);
                  resultsDiv.append(resultDiv);

                  resultDiv.click(function() {
                    const clickedName = result.fullname;
                    const index = selectedNames.indexOf(clickedName);

                    if (index === -1) {
                      selectedNames.push(clickedName);
                    } else {
                      selectedNames.splice(index, 1);
                    }
                    updateSelectedNamesDisplay(selectedNames, selectedNamesDiv, hiddenInputId);
                  });
                });
              }
            }

            function updateSelectedNamesDisplay(selectedNames, selectedNamesDiv, hiddenInputId) {
              selectedNamesDiv.empty();
              selectedNames.forEach(name => {
                const nameDiv = $('<div class="selectedName btn btn-outline-secondary mr-2 mb-1 mt-1"></div>').text(name);
                selectedNamesDiv.append(nameDiv);

                nameDiv.click(function() {
                  const removedName = $(this).text();
                  const index = selectedNames.indexOf(removedName);
                  selectedNames.splice(index, 1);
                  updateSelectedNamesDisplay(selectedNames, selectedNamesDiv, hiddenInputId);
                });
              });
              $(hiddenInputId).val(selectedNames.join(','));
            }
          }

          initializeStaffSearch('#queryInput1', '#selectedNames1', '#results1', '#selectedNamesInput1');
          initializeStaffSearch('#queryInput2', '#selectedNames2', '#results2', '#selectedNamesInput2');
          initializeStaffSearch('#queryInput3', '#selectedNames3', '#results3', '#selectedNamesInput3');
          initializeStaffSearch('#queryInput4', '#selectedNames4', '#results4', '#selectedNamesInput4');
          initializeStaffSearch('#queryInput5', '#selectedNames5', '#results5', '#selectedNamesInput5');
          initializeStaffSearch('#queryInput6', '#selectedNames6', '#results6', '#selectedNamesInput6');

          // For debugging: Log the values before form submission
          $('#scheduleForm').submit(function(event) {
            console.log('Selected Names 1:', $('#selectedNamesInput1').val());
            console.log('Selected Names 2:', $('#selectedNamesInput2').val());
            console.log('Selected Names 3:', $('#selectedNamesInput3').val());
            console.log('Selected Names 4:', $('#selectedNamesInput4').val());
            console.log('Selected Names 5:', $('#selectedNamesInput5').val());
            console.log('Selected Names 6:', $('#selectedNamesInput6').val());
          });
        });
      </script>

    </div>

  </div>

</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div class="d-flex">
    <div class="toast <%= show %> align-items-center text-white border-0" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true">
      <div class="d-flex justify-content-between">
        <div class="toast-body px-0 py-3">
          <code class="text-primary"><%= alert %></code>
        </div>

        <button class="btn ms-2 p-0" type="button" data-bs-dismiss="toast" aria-label="Close">
          <span class="uil uil-times fs-7"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<%- include('partials/private-footer.ejs') %>