<%- include('partials/private-header') %>

<div class="px-3">
  <div class="row flex-center content-min-h pb-9 g-0">
    <div class="col-xxl-10">
      <div class="row align-items-xl-center g-2">
        <div class="col-xl-6 order-xl-1">
          <div class="d-flex flex-center">
            <div class="w-xl-100 animation">
              <lottie-player class="d-dark-none" src="/assets/img/animated-icons/coming-soon-light.json" background="##FFFFFF" speed="0.75" style="width: auto; height: auto" loop autoplay direction="1" mode="normal"></lottie-player>
              <lottie-player class="d-light-none" src="/assets/img/animated-icons/coming-soon-dark.json" background="##FFFFFF" speed="0.75" style="width: auto; height: auto" loop autoplay direction="1" mode="normal"></lottie-player>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="d-flex justify-content-center mt-xl-15">
            <div class="text-container text-center text-xl-start"><img class="d-dark-none mb-5 mb-xl-10 w-75 w-lg-50 w-xl-75 w-xxl-100" src="assets/img/spot-illustrations/42.png" alt="" /><img class="d-light-none mb-5 mb-xl-10 w-75 w-lg-50 w-xl-75 w-xxl-100" src="/assets/img/spot-illustrations/dark_42.png" alt="" />
              <h2 class="text-gray-800 fs-xl-6 mb-3">This page is on the way !</h2>
              <p class="mb-6">Our developers are on the last stage of developing this page. We're just ironing out the kinks. You'll receive it on the next update. Lets go!</p><a class="btn btn-lg btn-primary" href="/"><span class="fa-solid fa-chevron-left me-2"></span>Go to Homepage</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/private-footer.ejs') %>