<% if(user.isPublicUser){ %>
<%- include('partials/alternate-private-header.ejs') %>
<% }else{ %>
<%- include('partials/private-header.ejs') %>
<%}%>


<div class="mb-6">

  <div class="mb-3 d-xxl-flex justify-content-between">
    <div class="mb-3">
      <h2 class="mb-2">Overview</h2>
      <h5 class="text-body-tertiary fw-semibold">Child, class, parent, attendance, payment</h5>
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-12">
      <div class="container-fluid border rounded-5" style="min-height: 25vh;">

      </div>
    </div>
    
    <div class="col-12 col-xl-6">
        <div class="card min-vh-50">
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-6">
        <div class="card min-vh-50">
            <div class="card-body">
                
            </div>
        </div>
    </div>
  </div>

  <div class="col-12">
    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis pt-7 pb-3 border-y mb-6">
        <h1>Hello</h1>
    </div>
  </div>

</div>

<% if(user.isPublicUser){ %>
<%- include('partials/alternate-private-footer.ejs') %>
<% }else{ %>
<%- include('partials/private-footer.ejs') %>
<%}%>