<% if(user.isPublicUser){ %>
<%- include('partials/alternate-private-header.ejs') %>
<% }else{ %>
<%- include('partials/private-header.ejs') %>
<%}%>


<div class="mb-6">
  <div class="mb-3 d-xxl-flex justify-content-between">
    <div class="mb-3">
      <h2 class="mb-2">Student</h2>
      <h5 class="text-body-tertiary fw-semibold">Name, birthdate, class, attendance, siblings.</h5>
    </div>
  </div>

  <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis pt-7 pb-3 border-y mb-6">
    <h1>Hello</h1>
  </div>
</div>

<% if(user.isPublicUser){ %>
<%- include('partials/alternate-private-footer.ejs') %>
<% }else{ %>
<%- include('partials/private-footer.ejs') %>
<%}%>