<%- include('partials/private-header.ejs') %>

<div class="mb-6">

  <div class="mb-3 d-xxl-flex justify-content-between">
    <div class="mb-3">
      <h2 class="mb-2">Overview</h2>
      <h5 class="text-body-tertiary fw-semibold">Child, class, parent, attendance, payment</h5>
    </div>
  </div>

</div>

<%- include('partials/private-footer.ejs') %>