<%- include('partials/private-header.ejs') %>

<div class="mb-6">
  <div class="mb-6">
    <h2>Add Leave</h2>
    <p class="text-body-tertiary lh-sm mb-0">Request time off via form manually by admin.</p>
  </div>

  <div class="row g-4 px-sm-0">
    <div class="col-12 col-xxl-9">
      <form action="" method="post">

      </form>
    </div>
  </div>
</div>

<%- include('partials/private-footer.ejs') %>