<%- include('partials/public-header') %>

<script type="importmap">
  {
      "imports": {
        "three": "https://unpkg.com/three@0.162.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.162.0/examples/jsm/"
      }
    }
  </script>

<!-- <script type="module">
  import * as THREE from 'three';
  import {
    DRACOLoader
  } from 'three/addons/loaders/DRACOLoader.js';
  import {
    OrbitControls
  } from 'three/addons/controls/OrbitControls.js'; // Import OrbitControls for camera orbiting
  import {
    GLTFLoader
  } from 'three/addons/loaders/GLTFLoader.js';
  import {
    RGBELoader
  } from 'three/addons/loaders/RGBELoader.js';

  const canvasContainer = document.getElementById('myCanvas');
  const renderer = new THREE.WebGLRenderer({
    alpha: true
  });
  canvasContainer.appendChild(renderer.domElement);

  renderer.setSize(canvasContainer.clientWidth, canvasContainer.clientHeight);

  const scene = new THREE.Scene();

  const camera = new THREE.PerspectiveCamera(45, canvasContainer.clientWidth / canvasContainer.clientHeight, 0.1, 1000);
  camera.position.set(6, 6, 6);

  const orbit = new OrbitControls(camera, renderer.domElement);
  orbit.enableZoom = false;
  orbit.update();

  const dracoLoader = new DRACOLoader();
  dracoLoader.setDecoderPath('/assets/js/draco/');
  dracoLoader.preload();
  const gltfLoader = new GLTFLoader();
  gltfLoader.setDRACOLoader(dracoLoader);
  const rgbeLoader = new RGBELoader();

  renderer.outputEncoding = THREE.sRGBEncoding;
  renderer.toneMapping = THREE.ACESFilmicToneMapping;
  renderer.toneMappingExposure = 2;

  let item;

  rgbeLoader.load('/assets/MR_INT-005_WhiteNeons_NAD.hdr', function(texture) {
    texture.mapping = THREE.EquirectangularReflectionMapping;
    scene.environment = texture;

    gltfLoader.load('/models/others/scene.glb', function(gltf) {
      const model = gltf.scene;
      model.scale.set(0.05, 0.05, 0.05); // Adjust scale as needed

      const boundingBox = new THREE.Box3().setFromObject(model);
      const center = boundingBox.getCenter(new THREE.Vector3());
      camera.position.copy(center.clone().add(new THREE.Vector3(10, 0, 0)));
      camera.lookAt(center);

      scene.add(model);
      item = model;
    });
  });

  function animate() {
    if (item)
      item.rotation.y += 0.009;
    renderer.render(scene, camera);
    requestAnimationFrame(animate);
  }

  animate();

  window.addEventListener('resize', function() {
    camera.aspect = canvasContainer.clientWidth / canvasContainer.clientHeight;
    camera.updateProjectionMatrix();
    renderer.setSize(canvasContainer.clientWidth, canvasContainer.clientHeight);
  });
</script> -->

<script type="module" src="/assets/js/earth.min.js"></script>
<!-- <script type="module" src="/assets/js/earth-2.min.js"></script> -->

<main class="alternate-landing" style="--phoenix-scroll-margin-top: 1.2rem;">
  <!-- landing page nav  -->
  <div class="bg-body-emphasis sticky-top landing-navbar" data-navbar-shadow-on-scroll="data-navbar-shadow-on-scroll">
    <nav class="navbar navbar-expand-lg container-small px-3 px-lg-7 px-xxl-3"><a class="navbar-brand flex-1 flex-lg-grow-0" href="/">
        <div class="d-flex align-items-center">
          <p class="logo-text ms-2 fs-7 fs-md-6" style="color:orange;">lakmns<span class="text-body">portal</span></p>
        </div>
      </a>
      <div class="d-lg-none">
        <div class="theme-control-toggle fa-icon-wait px-2">
          <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggleSm" />
          <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="moon"></span></label>
          <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="sun"></span></label>
        </div>
      </div>
      <button class="navbar-toggler d-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item border-bottom border-translucent border-bottom-lg-0 d-none"><a class="nav-link lh-1 py-0 fs-9 fw-bold py-3" aria-current="page" href="#">Home</a></li>
          <li class="nav-item border-bottom border-translucent border-bottom-lg-0 d-none"><a class="nav-link lh-1 py-0 fs-9 fw-bold py-3" href="#gallery">Gallery</a></li>
        </ul>
        <div class="d-grid d-lg-flex align-items-center">
          <div class="nav-item d-flex align-items-center d-none d-lg-block pe-2">
            <div class="theme-control-toggle fa-icon-wait px-2">
              <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" />
              <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="moon"></span></label>
              <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="sun"></span></label>
            </div>
          </div>
          <!-- <a class="btn btn-phoenix-primary order-0" href="/sign-in"><span class="fw-bold">Sign In</span></a> -->
        </div>
      </div>
    </nav>
  </div>

  <!-- hero section -->
  <section class="pb-2 overflow-hidden shadow-lg" id="home">
    <div class="hero-header-container-alternate position-relative">
      <div class="container-small px-lg-5 px-xxl-3">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 pt-6 pb-3 position-relative z-5 text-center text-lg-start">
            <h1 class="fs-4 fs-md-2 fs-xl-2 fw-black mb-3">Towards a world class <span class="gradient-text-primary me-3">Islamic</span> charitable trust</h1>
            <p class="mb-5 pe-xl-10 fw-semibold fs-8">A digital gateway empowering seamless access, interaction, and exchange of information, services, and resources through our innovative web portal</p><a class="btn btn-lg btn-primary rounded-pill me-3" href="/sign-in" role="button">Sign In</a><a class="btn btn-link me-2 fs-8 p-0 d-none" href="#!" role="button">Check Demo<span class="fa-solid fa-angle-right ms-2 fs-9"></span></a>
          </div>
          <div class="col-12 col-lg-6 d-none d-lg-block mb-3">
            <div id="myCanvas" class="w-50 position-absolute top-0 end-0 pt-5" style="height: 50vh;"></div>
          </div>
        </div>
      </div>
      <div class="container-small px-md-8 mb-10 ms-n5 d-lg-none">
        <!-- <div class="row justify-content-center align-items-center">
          <div id="myCanvas-2" class="pt-3 ps-5 mb-4" style="height: 40vh;"></div>
        </div> -->
        <div class="lottie" data-options='{"path":"https://lottie.host/7b3afcb8-b92c-440d-a417-7ca6fc8559a9/ldkqfvhECJ.json"}' style="width: 450px; height: 450px"></div>
      </div>
    </div>
  </section>

  <!-- ============================================-->
  <!-- features begin ============================-->
  <!-- <section class="pt-13 pb-10 mt-n10" id="feature">

    <div class="container-small px-lg-7 px-xxl-3">
      <div class="text-center mb-10 mb-md-5">
        <h5 class="text-info mb-3">Features</h5>
        <h2 class="mb-3 lh-base">Complete suite of <br class="d-sm-none" />payment products.</h2>
        <p class="mb-0">Focus only on functionalities for your digital products with Phoenix! Leave the UIs for us.</p>
        <div class="text-center mt-5"><a class="btn btn-outline-primary" href="#!">See more<span class="fa-solid fa-angle-right ms-2"></span></a></div>
      </div>
      <div class="row flex-between-center px-xl-11 mb-6 mb-md-9">
        <div class="col-md-6 order-1 order-md-0 text-center text-md-start">
          <h4 class="mb-3">Recieve the signals instantly</h4>
          <p class="mb-5">Phoenix allows you to receive every signal instantly and fruitfully. No need for long waits.</p><a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
        </div>
        <div class="col-md-5 mb-5 mb-md-0 text-center"><img class="w-75 w-md-100 d-dark-none" src="../../assets/img/spot-illustrations/15.png" alt="" /><img class="w-75 w-md-100 d-light-none" src="../../assets/img/spot-illustrations/dark_15.png" alt="" /></div>
      </div>
      <div class="row flex-between-center px-xl-11 mb-6 mb-md-9">
        <div class="col-md-6 order-1 order-md-0 text-center text-md-start">
          <h4 class="mb-3">Make everyday a joyride</h4>
          <p class="mb-5">Phoenix helps you show reports and data in one place and make the journey a glee trip for everyone.</p><a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
        </div>
        <div class="col-md-5 mb-5 mb-md-0 text-center"><img class="w-75 w-md-100 d-dark-none" src="../../assets/img/spot-illustrations/35.png" alt="" /><img class="w-75 w-md-100 d-light-none" src="../../assets/img/spot-illustrations/35_2.png" alt="" /></div>
      </div>
      <div class="row flex-between-center px-xl-11 false">
        <div class="col-md-6 order-1 order-md-0 text-center text-md-start">
          <h4 class="mb-3">See Your Revenue Grow</h4>
          <p class="mb-5">Grow with Phoenix. We help you with everything you might need, We make it easy and keep it simple.</p><a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
        </div>
        <div class="col-md-5 mb-5 mb-md-0 text-center"><img class="w-75 w-md-100 d-dark-none" src="../../assets/img/spot-illustrations/36.png" alt="" /><img class="w-75 w-md-100 d-light-none" src="../../assets/img/spot-illustrations/36_2.png" alt="" /></div>
      </div>
    </div>

  </section> -->
  <!-- features close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- carousel begin ============================-->
  <!-- <section class="pb-14 overflow-x-hidden">

    <div class="container-small px-lg-7 px-xxl-3">
      <div class="text-center mb-5 position-relative">
        <h5 class="text-info mb-3">Testimonial</h5>
        <h2 class="mb-2 lh-base">What our customers has to say about us</h2>
      </div>
      <div class="carousel testimonial-carousel slide position-relative dark__bg-gray-1100" id="carouselExampleIndicators" data-bs-ride="carousel">
        <div class="bg-holder d-none d-md-block" style="background-image:url(../../assets/img/bg/39.png);background-size:186px;background-position:top 20px right 20px;">
        </div>

        <div class="carousel-inner">
          <div class="carousel-item text-center py-8 px-5 px-xl-15 active">
            <h3 class="fw-semibold fst-italic mt-3 mb-8 w-xl-70 mx-auto lh-base">Amazing theme, excellent support from ThemeWagon with really fast reaction time! Thank you!</h3>
            <div class="d-flex align-items-center justify-content-center gap-3 mx-auto">
              <div class="avatar avatar-3xl ">
                <img class="rounded-circle border border-2 border-primary" src="../../assets/img/team/12.webp" alt="" />

              </div>
              <div class="text-start">
                <h5>Johna Austin</h5>
                <p class="mb-0">CEO</p>
              </div>
            </div>
          </div>
          <div class="carousel-item text-center py-8 px-5 px-xl-15 false">
            <h3 class="fw-semibold fst-italic mt-3 mb-8 w-xl-70 mx-auto lh-base">An excellent theme with fast support team to aid the development process! Thanks team Phoenix!</h3>
            <div class="d-flex align-items-center justify-content-center gap-3 mx-auto">
              <div class="avatar avatar-3xl ">
                <img class="rounded-circle border border-2 border-primary" src="../../assets/img/team/13.webp" alt="" />

              </div>
              <div class="text-start">
                <h5>Monica Gomez</h5>
                <p class="mb-0">Founder</p>
              </div>
            </div>
          </div>
          <div class="carousel-item text-center py-8 px-5 px-xl-15 false">
            <h3 class="fw-semibold fst-italic mt-3 mb-8 w-xl-70 mx-auto lh-base">Amazing support system with quickest reply and steady communication of the concerned. Really loved working with Phoenix!</h3>
            <div class="d-flex align-items-center justify-content-center gap-3 mx-auto">
              <div class="avatar avatar-3xl ">
                <img class="rounded-circle border border-2 border-primary" src="../../assets/img/team/14.webp" alt="" />

              </div>
              <div class="text-start">
                <h5>Marc Chiasson</h5>
                <p class="mb-0">CTO</p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-indicators">
          <button class="active" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
      </div>
    </div>

  </section> -->
  <!-- carousel close ============================-->
  <!-- ============================================-->


  <!-- gallery -->
  <section class="gallery mt-10" id="gallery">

    <div class="container-small position-relative px-lg-7 px-xxl-3 mt-n10">
      <div class="text-center mb-7">
        <h5 class="text-info mb-3">Gallery</h5>
        <h2 class="mb-2">Our best works</h2>
      </div>
      <ul class="nav mb-6 w-max-content mx-auto" data-filter-nav="data-filter-nav">
        <li class="nav-item"><a class="isotope-nav cursor-pointer active" data-filter="*">First</a></li>
        <li class="nav-item"><a class="isotope-nav cursor-pointer" data-filter=".second">Second</a></li>
        <li class="nav-item"><a class="isotope-nav cursor-pointer" data-filter=".third">Third</a></li>
        <li class="nav-item"> <a class="isotope-nav cursor-pointer" data-filter=".fourth">Fourth</a></li>
      </ul>
      <div class="row g-3" id="image_gallery" data-sl-isotope='{"layoutMode":"packery"}'>
        <div class="col-6 col-md-4 px-2 isotope-item fourth"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/27.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/27.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 px-2 isotope-item third"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/28.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/28.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 px-2 isotope-item second"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/29.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/29.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 px-2 isotope-item third"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/30.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/30.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 px-2 isotope-item third"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/31.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/31.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 px-2 isotope-item second"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/32.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/32.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 px-2 isotope-item fourth"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/33.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/33.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 px-2 isotope-item third"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/34.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/34.png" alt="" /></a>
        </div>
      </div>
    </div>
    
  </section>

  <!-- ============================================-->
  <!-- pre-footer begin ============================-->

  <section class="bg-body dark__bg-gray-1000 pb-10 overflow-hidden">

    <div class="container-small px-lg-8 px-xxl-2 px-3">
      <div class="row justify-content-center">
        <div class="col-12 text-center px-md-13">
          <div class="card py-md-3 px-md-10 border-0 z-1 shadow-lg">

            <div class="card-body position-relative">

              <!-- <p class="fw-bold"><span class="text-primary fs-6"></span></p> -->
              <h1 class="fs-5 fs-sm-4 fs-lg-3 fw-bold lh-sm">Join<span class="gradient-text-primary fw-bold mx-2">lakmnsportal</span><span>today</span></h1>
              <!-- <form class="d-flex justify-content-center mb-3 px-xxl-15">
                <div class="d-grid d-sm-block"></div>
                <input class="form-control me-3" id="ctaEmail1" type="email" placeholder="Email" aria-describedby="ctaEmail1" />
                <button class="btn btn-primary" type="submit">Subscribe</button>
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- pre-footer close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- footer begin ============================-->
  <section class="bg-dark dark__bg-gray-1000" data-bs-theme="dark">

    <div class="container-small px-lg-7 px-xxl-3">
      <div class="row gx-xxl-8 gy-5 align-items-center mb-5">
        <div class="col-xl-auto text-center"><a href="#"><img src="../../assets/img/icons/logo.png" height="48" alt="" /></a></div>
        <div class="col-xl-auto flex-1">
          <ul class="list-unstyled d-flex justify-content-center flex-wrap mb-0 border-end-xl border-dashed gap-3 gap-xl-8 pe-xl-5 pe-xxl-8 w-75 w-md-100 mx-auto">
            <li><a class="text-light text-opacity-75" href="">Contact us</a></li>
            <li><a class="text-light text-opacity-75" href="">Newsroom</a></li>
            <li><a class="text-light text-opacity-75" href="">Opportunities</a></li>
            <li><a class="text-light text-opacity-75" href="">Support</a></li>
            <li><a class="text-light text-opacity-75" href="">FAQ</a></li>
          </ul>
        </div>
        <div class="col-xl-auto">
          <div class="d-flex align-items-center justify-content-center gap-8"><a class="text-white" href="#!"> <span class="fa-brands fa-facebook"></span></a><a class="text-white" href="#!"> <span class="fa-brands fa-twitter"></span></a><a class="text-white" href="#!"> <span class="fa-brands fa-linkedin-in"></span></a></div>
        </div>
      </div>
      <hr class="border-top" />
      <div class="d-sm-flex flex-between-center text-center">
        <p class="text-body-tertiary mb-0">Copyright © LAKMNS</p>
        <p class="text-body-tertiary mb-0">Made by <a href="#">LAKMNS PROTECH</a></p>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- footer close ============================-->
  <!-- ============================================-->
</main>

<%- include('partials/public-footer') %>