<%- include("partials/public-header.ejs") %>

<div class="row vh-100 g-0">
  <div class="col-lg-6 position-relative d-none d-lg-block">
    <div class="bg-holder" style="background-image:url(../../../assets/img/gallery/IMG_3410.png);">
    </div>

  </div>
  <div class="col-lg-6">
    <div class="row flex-center h-100 g-0 px-4 px-sm-0">
      <div class="col col-sm-6 col-lg-7 col-xl-6"><a class="d-flex flex-center text-decoration-none mb-4" href="/">
          <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img src="../../../assets/img/icons/logo.png" alt="phoenix" width="75" />
          </div>
        </a>
        <div class="text-center mb-6">
          <h4 class="text-body-highlight">Reset new password</h4>
          <p class="text-body-tertiary">Type your new password</p>
          <form action="/reset-password/<%= id %>" method="post" class="mt-5">
            <input class="form-control mb-2" id="password" type="text" name="password" placeholder="Type new password" />
            <input class="form-control mb-4" id="confirmPassword" type="text" name="confirmPassword" placeholder="Cofirm new password" />
            <button class="btn btn-primary w-100" type="submit">Set Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="position-absolute top-0 end-0 m-4 d-flex px-2 py-1">
  <div class="px-2 d-block d-lg-none">
    <button id="btn-ms-mobile" class="" onclick="changeLanguage('ms')"><span class="fa-brands fa-google"></span></button>
    <button id="btn-en-mobile" class="d-none" onclick="changeLanguage('en')"><span class="fa-brands fa-google"></span></button>
  </div>

  <div class="px-2 d-none d-lg-block">
    <button id="btn-ms" class="" onclick="changeLanguage('ms')"><span class="fa-brands fa-google"></span></button>
    <button id="btn-en" class="d-none" onclick="changeLanguage('en')"><span class="fa-brands fa-google"></span></button>
  </div>

  <div class="theme-control-toggle fa-icon-wait px-2">
    <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" />
    <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="moon"></span></label>
    <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="sun"></span></label>
  </div>
</div>

<%- include("partials/public-footer.ejs") %>