<%- include("partials/private-header.ejs") %>

<div class="row gy-3 mb-3 justify-content-between d-flex mt-0">
    <div class="col-md-9 col-auto">
        <h2 class="mb-2 text-body-emphasis">Student Information</h2>
        <h5 class="text-body-tertiary fw-semibold">We hope you have a great experience managing visitor entries and exits.</h5>
    </div>
</div>

<div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis pt-7 pb-3 border-y mb-6">
    <div id="" data-list=''>
        <div class="row align-items-end justify-content-between pb-4 g-3">
            <div class="filters d-flex align-items-center gap-3">
                <!-- Search -->
                <div class="position-relative" style="width: auto;">
                    <span class="fas fa-search search-box-icon" style="position: absolute; top: 50%; left: 10px; transform: translateY(-50%); color: #aaa;"></span>
                    <input type="search" class="form-control ps-5" id="" placeholder="Search" style="padding: 5px; font-size: 14px; border-radius: 8px; width: 200px;">
                </div>
        
                <!-- Class option -->
                <select id="" name="" class="form-select" style="width: 150px; padding: 5px; font-size: 14px; border-radius: 8px;">
                    <option value="">Class 1</option>
                    <option value="">Class 2</option>
                </select>
            </div>
        </div>

        <div id="" data-list='{"page":10,"pagination":true}'>
            <div class="table-responsive ms-n1 ps-1 scrollbar">
                <table id="vis-table" class="table fs-9 mb-0 border-top border-translucent">
                    <thead>
                        <tr>
                        <th class="sort align-middle text-start" scope="col" data-sort="" style="width:5%;">No</th>
                        <th class="sort align-middle text-center" scope="col" data-sort="" style="width:10%;">Student Name</th>
                        <th class="sort align-middle text-center" scope="col" data-sort="" style="width:10%;">Age</th>
                        <th class="sort align-middle text-center" scope="col" data-sort="" style="width:10%;">Date of Birth</th>
                        <th class="sort align-middle text-center" scope="col" data-sort="" style="width:10%;">Class</th>
                        <th class="sort align-middle text-center" scope="col" data-sort="" style="width:10%;">Parents Name</th>
                        <th class="sort align-middle text-center" scope="col" data-sort="" style="width:10%;">Parents Phone</th>
                        <th class="sort align-middle text-center" scope="col" data-sort="" style="width:10%;">Teacher's Name</th>
                        <th class="sort align-middle text-end" scope="col" style="width:5%;"></th>
                        </tr>
                    </thead>
                    <tbody id="">
                        
                    </tbody>  
                </table>
            </div>
        </div>
        <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
            <div class="col-auto d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p>
                <a class="fw-semibold" href="#!" data-list-view="*" id="">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                <a class="fw-semibold d-none" href="#!" data-list-view="less" id="">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
            </div>
            <div class="col-auto d-flex">
                <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination"></ul>
                <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
            </div>
        </div>
    </div>
</div>

<%- include('partials/private-footer.ejs') %>