<%- include("partials/public-header.ejs") %>

<h4>Leave Request</h4>
<h2 class="">
  CZ45G
</h2>
<p>Please click here to confirm your email to be verified, <a href="">lakmnsportal</a></p>

<%- include("partials/public-footer.ejs") %>