<%- include('partials/private-header') %>

<div class="mb-3 mt-3">

  <style>
    .qr-code-container {
      max-width: 100%;
      /* Ensure the container does not exceed the viewport width */
    }

    #qrCode {
      width: 100%;
      /* Initially set the image width to 100% */
      height: auto;
      /* Maintain aspect ratio */
    }

    /* Media queries for different viewport sizes */
    @media screen and (min-width: 768px) {
      #qrCode {
        width: 50%;
        /* Adjust the width for larger screens */
      }
    }

    @media screen and (min-width: 1024px) {
      #qrCode {
        width: 30%;
        /* Adjust the width for even larger screens */
      }
    }
  </style>

  <div class="qr-code-container">
    <img id="qrCode">
  </div>




  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Function to update QR code image every 5 seconds
      setInterval(updateQRCode, 5000);

      // Call updateQRCode() once immediately upon page load
      updateQRCode();

      function updateQRCode() {
        fetch('/generate-qr')
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            // Update the src attribute of the QR code image
            document.getElementById('qrCode').src = data.qrCodeImage;
          })
          .catch(error => {
            console.error('Error updating QR code:', error);
          });
      }
    });
  </script>
</div>

<%- include('partials/private-footer.ejs') %>