<style>
  :root {
    --phoenix-font-sans-serif: 'Nunito Sans', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol';
    --phoenix-emphasis-color: #141824;
    --phoenix-border-width: 1px;
    --phoenix-border-color-translucent: rgba(203, 208, 221, 0.54);
    --phoenix-emphasis-bg: #fff;
    --phoenix-body-font-family: var(--phoenix-font-sans-serif);
    --phoenix-body-font-size: 1rem;
    --phoenix-body-font-weight: 400;
    --phoenix-body-line-height: 1.49;
    --phoenix-body-color: #31374a;
    --phoenix-body-bg: #f5f7fa;
    --phoenix-link-color-rgb: 56, 116, 255;
    --phoenix-link-hover-color-rgb: 0, 60, 199;
    --phoenix-tertiary-color-rgb: 82, 91, 117;
    --phoenix-logo-text: rgba(var(--phoenix-tertiary-color-rgb), 0.8);
    --phoenix-body-color-rgb: 49, 55, 74;
    --phoenix-border-radius: 0.375rem;
  }

  body {
    margin: 0;
    font-family: var(--phoenix-body-font-family);
    font-size: var(--phoenix-body-font-size);
    font-weight: var(--phoenix-body-font-weight);
    line-height: var(--phoenix-body-line-height);
    color: var(--phoenix-body-color);
    text-align: var(--phoenix-body-text-align);
    background-color: var(--phoenix-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  hr {
    margin: 1rem 0;
    color: var(--phoenix-border-color-translucent);
    border: 0;
    border-top: var(--phoenix-border-width) solid;
    opacity: 1;
  }

  a {
    color: rgba(var(--phoenix-link-color-rgb), var(--phoenix-link-opacity, 1));
    text-decoration: none;
  }

  a:hover {
    --phoenix-link-color-rgb: var(--phoenix-link-hover-color-rgb);
    text-decoration: underline;
  }

  a:not([href]):not([class]),
  a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }

  img,
  svg {
    vertical-align: middle;
  }

  .btn {
    --phoenix-btn-padding-x: 1.5rem;
    --phoenix-btn-padding-y: 0.625rem;
    --phoenix-btn-font-family: ;
    --phoenix-btn-font-size: 0.8rem;
    --phoenix-btn-font-weight: 700;
    --phoenix-btn-line-height: 1.2;
    --phoenix-btn-color: var(--phoenix-body-color);
    --phoenix-btn-bg: transparent;
    --phoenix-btn-border-width: var(--phoenix-border-width);
    --phoenix-btn-border-color: transparent;
    --phoenix-btn-border-radius: var(--phoenix-border-radius);
    --phoenix-btn-hover-border-color: transparent;
    --phoenix-btn-box-shadow: initial;
    --phoenix-btn-disabled-opacity: 0.3;
    --phoenix-btn-focus-box-shadow: 0 0 0 0 rgba(var(--phoenix-btn-focus-shadow-rgb), 0.5);
    display: inline-block;
    padding: var(--phoenix-btn-padding-y) var(--phoenix-btn-padding-x);
    font-family: var(--phoenix-btn-font-family);
    font-size: var(--phoenix-btn-font-size);
    font-weight: var(--phoenix-btn-font-weight);
    line-height: var(--phoenix-btn-line-height);
    color: var(--phoenix-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: var(--phoenix-btn-border-width) solid var(--phoenix-btn-border-color);
    border-radius: var(--phoenix-btn-border-radius);
    background-color: var(--phoenix-btn-bg);
    -webkit-box-shadow: var(--phoenix-btn-box-shadow);
    box-shadow: var(--phoenix-btn-box-shadow);
    -webkit-transition: color 0.15s ease-in-out,
      background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
  }

  .btn-outline-primary {
    --phoenix-btn-color: #3874ff;
    --phoenix-btn-border-color: #3874ff;
    --phoenix-btn-hover-color: #fff;
    --phoenix-btn-hover-bg: #3874ff;
    --phoenix-btn-hover-border-color: #3874ff;
    --phoenix-btn-focus-shadow-rgb: 56, 116, 255;
    --phoenix-btn-active-color: #fff;
    --phoenix-btn-active-bg: #3874ff;
    --phoenix-btn-active-border-color: #3874ff;
    --phoenix-btn-active-shadow: initial;
    --phoenix-btn-disabled-color: #3874ff;
    --phoenix-btn-disabled-bg: transparent;
    --phoenix-btn-disabled-border-color: #3874ff;
    --phoenix-gradient: none;
  }

  .text-body-tertiary {
    --phoenix-text-opacity: 1;
    color: rgba(var(--phoenix-tertiary-color-rgb),
        var(--phoenix-text-opacity)) !important;
  }

  .logo-text {
    font-size: 1.63625rem;
    color: var(--phoenix-logo-text);
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.04em;
    margin-bottom: 0;
  }

  .text-body {
    --phoenix-text-opacity: 1;
    color: rgba(var(--phoenix-body-color-rgb),
        var(--phoenix-text-opacity)) !important;
  }

  .card {
    --phoenix-card-spacer-y: 1.5rem;
    --phoenix-card-spacer-x: 1.5rem;
    --phoenix-card-title-spacer-y: 1rem;
    --phoenix-card-title-color: var(--phoenix-emphasis-color);
    --phoenix-card-subtitle-color: ;
    --phoenix-card-border-width: var(--phoenix-border-width);
    --phoenix-card-border-color: var(--phoenix-border-color-translucent);
    --phoenix-card-border-radius: 0.5rem;
    --phoenix-card-box-shadow: ;
    --phoenix-card-inner-border-radius: calc(0.5rem - (var(--phoenix-border-width)));
    --phoenix-card-cap-padding-y: 1.5rem;
    --phoenix-card-cap-padding-x: 1.5rem;
    --phoenix-card-cap-bg: transparent;
    --phoenix-card-cap-color: ;
    --phoenix-card-height: ;
    --phoenix-card-color: ;
    --phoenix-card-bg: var(--phoenix-emphasis-bg);
    --phoenix-card-img-overlay-padding: 1rem;
    --phoenix-card-group-margin: 1rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    height: var(--phoenix-card-height);
    color: var(--phoenix-body-color);
    word-wrap: break-word;
    background-color: var(--phoenix-card-bg);
    background-clip: border-box;
    border: var(--phoenix-card-border-width) solid var(--phoenix-card-border-color);
    border-radius: var(--phoenix-card-border-radius);
    -webkit-box-shadow: var(--phoenix-card-box-shadow);
    box-shadow: var(--phoenix-card-box-shadow);
  }

  .card>hr {
    margin-right: 0;
    margin-left: 0;
  }

  .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: var(--phoenix-card-spacer-y) var(--phoenix-card-spacer-x);
    color: var(--phoenix-card-color);
  }

  .ms-2 {
    margin-left: 0.5rem !important;
  }

  .mt-0 {
    margin-top: 0 !important;
  }

  .mt-1 {
    margin-top: 0.25rem !important;
  }

  .mt-2 {
    margin-top: 0.5rem !important;
  }

  .mt-3 {
    margin-top: 1rem !important;
  }

  .mt-4 {
    margin-top: 1.5rem !important;
  }

  .mt-5 {
    margin-top: 2rem !important;
  }

  .mt-6 {
    margin-top: 2.5rem !important;
  }

  .mt-7 {
    margin-top: 3rem !important;
  }

  .mt-8 {
    margin-top: 3.5rem !important;
  }

  .mt-9 {
    margin-top: 4rem !important;
  }

  .mt-10 {
    margin-top: 4.5rem !important;
  }

  .mt-11 {
    margin-top: 5rem !important;
  }

  .mt-12 {
    margin-top: 6rem !important;
  }

  .mt-13 {
    margin-top: 6.5rem !important;
  }

  .mt-14 {
    margin-top: 7rem !important;
  }

  .mt-15 {
    margin-top: 7.5rem !important;
  }

  .mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }

  .mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }

  .mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }

  .mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }

  .mx-5 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
  }

  .mx-6 {
    margin-right: 2.5rem !important;
    margin-left: 2.5rem !important;
  }

  .mx-7 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }

  .mx-8 {
    margin-right: 3.5rem !important;
    margin-left: 3.5rem !important;
  }

  .mx-9 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }

  .mx-10 {
    margin-right: 4.5rem !important;
    margin-left: 4.5rem !important;
  }

  .mx-11 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
  }

  .mx-12 {
    margin-right: 6rem !important;
    margin-left: 6rem !important;
  }

  .mx-13 {
    margin-right: 6.5rem !important;
    margin-left: 6.5rem !important;
  }

  .mx-14 {
    margin-right: 7rem !important;
    margin-left: 7rem !important;
  }

  .mx-15 {
    margin-right: 7.5rem !important;
    margin-left: 7.5rem !important;
  }

  .mb-0 {
    margin-bottom: 0 !important;
  }

  .mb-1 {
    margin-bottom: 0.25rem !important;
  }

  .mb-2 {
    margin-bottom: 0.5rem !important;
  }

  .mb-3 {
    margin-bottom: 1rem !important;
  }

  .mb-4 {
    margin-bottom: 1.5rem !important;
  }

  .mb-5 {
    margin-bottom: 2rem !important;
  }

  .mb-6 {
    margin-bottom: 2.5rem !important;
  }

  .mb-7 {
    margin-bottom: 3rem !important;
  }

  .mb-8 {
    margin-bottom: 3.5rem !important;
  }

  .mb-9 {
    margin-bottom: 4rem !important;
  }

  .mb-10 {
    margin-bottom: 4.5rem !important;
  }

  .mb-11 {
    margin-bottom: 5rem !important;
  }

  .mb-12 {
    margin-bottom: 6rem !important;
  }

  .mb-13 {
    margin-bottom: 6.5rem !important;
  }

  .mb-14 {
    margin-bottom: 7rem !important;
  }

  .mb-15 {
    margin-bottom: 7.5rem !important;
  }

  .fs-1 {
    font-size: 4.768371582rem !important;
  }

  .fs-2 {
    font-size: 3.8146972656rem !important;
  }

  .fs-3 {
    font-size: 3.0517578125rem !important;
  }

  .fs-4 {
    font-size: 2.44140625rem !important;
  }

  .fs-5 {
    font-size: 1.953125rem !important;
  }

  .fs-6 {
    font-size: 1.5625rem !important;
  }

  .fs-7 {
    font-size: 1.25rem !important;
  }

  .fs-8 {
    font-size: 1rem !important;
  }

  .fs-9 {
    font-size: 0.8rem !important;
  }

  .fs-10 {
    font-size: 0.64rem !important;
  }

  .fs-11 {
    font-size: 0.512rem !important;
  }

  .text-start {
    text-align: left !important;
  }

  .text-end {
    text-align: right !important;
  }

  .text-center {
    text-align: center !important;
  }

  .pe-none {
    pointer-events: none !important;
  }

  .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
</style>

<div class="card mx-15 mt-5">
  <div class="card-body">
    <div class="text-center">
      <img src="../../../assets/img/icons/logo.png" alt="logo" width="75" />
      <p class="logo-text ms-2 fs-6" style="color:orange;">lakmns<span class="text-body">portal</span></p>
    </div>

    <div class="mx-5 text-center mb-5">
      <hr>
      <img class="mb-5 mx-0" src="../../../assets/img/email/IMG_3410.png" alt="" style="width: 100%;">

      <h1 class="btn btn-outline-primary pe-none fs-2">ABD87</h1>

      <div class="text-start">
        <p>Dear Sir/Miss,</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus eu orci eu viverra. Nam lacinia arcu ipsum, vitae blandit turpis rutrum id. Mauris gravida finibus porta.
          Praesent feugiat sed nibh vel bibendum. Vivamus elementum, quam in vehicula tincidunt, orci eros mollis erat, nec fringilla sapien leo vel libero.</p>

        <p class="mb-3">Regards,</p>
      </div>

      <hr>

      <div class="d-flex justify-content-between text-start">

        <div>
          <p class="text-body-tertiary">Made by <a href="#">LAKMNS PROTECH</a></p>
        </div>

        <div>
          <br />2024 &copy;<a class="mx-1" href="https://www.lakmnsportal.com">lakmnsportal</a></p>
        </div>

      </div>

    </div>
  </div>
</div>