<%- include('partials/public-header.ejs') %>

<h1>3D WebGL Example</h1>
<div id="webgl-container" style="width: 400px; height: 50vh;">
  <!-- WebGL canvas will be appended here -->
</div>

<script src="/assets/js/threejs/three.cjs"></script>
<script type="module" src="/assets/js/threejs/OBJLoader.js"></script>
<script type="module" src="/assets/js/threejs/script.js"></script>


<%- include('partials/public-footer.ejs') %>