<%- include('partials/private-header.ejs') %>

<h4 class="mt-5">Scan the QR Code to Mark Attendance</h4>
<div style="height: 30vh;" id="qrCode"></div>
<script>
  function reloadQRCode() {
    const qrCodeContainer = document.getElementById('qrCode');
    const uniqueIdentifier = '<%= uniqueIdentifier %>';
    const qrCodeUrl = '<%= qrCodeUrl %>';
    fetch(`/generate-qr`)
      .then(response => response.json())
      .then(data => {
        const qrCodeImg = document.createElement('img');
        qrCodeImg.src = data.qrCodeImage; // Assuming the JSON response contains the image URL
        qrCodeContainer.innerHTML = ''; // Clear previous QR code
        qrCodeContainer.appendChild(qrCodeImg);
      })
      .catch(error => console.error('Error loading QR code:', error));
  }

  reloadQRCode(); // Load QR code initially
  setInterval(reloadQRCode, 4000); // Reload QR code every 5 seconds
</script>

<%- include('partials/private-footer.ejs') %>