<%- include('partials/public-header.ejs') %>

<div class="mb-6">
  <h1>Testing loading page</h1>
  <a href="/testing" class="btn btn-primary">Test now</a>
</div>

<%- include('partials/public-footer.ejs') %>