<%- include("partials/public-header.ejs") %>

<div class="mb-3">

  <div class="mx-auto bg-primary" style="height: 100vh;">
    <div class="row g-3 my-auto" style="margin:0 25rem 0 25rem;">
      <div class="col-6">
        <div class="card">
          <div class="card-body vh-50">
            <p>1</p>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card">
          <div class="card-body vh-50">
            <p>1</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/public-footer.ejs") %>