<%- include('partials/public-header.ejs') %>

<div class="d-lg-flex d-block justify-content-center align-items-center z-2 row g-0 mt-n3 mt-xl-5" style="min-height: 90vh;">

  <div class="py-0 py-xl-5 px-2 px-xl-5 mb-0 order-xl-1 order-md-1 col-12 col-md-6 z-5">
    <div class="card vh-50">
      <div class="card-body row">

      </div>
    </div>
  </div>

  <div class="py-0 py-xl-5 px-2 px-xl-5 mb-0 order-xl-2 order-md-2 col-12 col-md-6 z-5">
    <div class="card vh-50">
      <div class="card-body">

      </div>
    </div>
  </div>

  <%- include('partials/public-footer.ejs') %>